In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error, r2_score

In [2]:
df = pd.read_csv(r"Cellphone.csv")
df

,Product_id,Price,Sale,weight,resoloution,ppi,cpu core,cpu freq,internal mem,ram,RearCam,Front_Cam,battery,thickness
0,203,2357,10,135.0,5.20,424,8,1.350,16.0,3.000,13.00,8.0,2610,7.4
1,880,1749,10,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
2,40,1916,10,110.0,4.70,312,4,1.200,8.0,1.500,13.00,5.0,2000,7.6
3,99,1315,11,118.5,4.00,233,2,1.300,4.0,0.512,3.15,0.0,1400,11.0
4,880,1749,11,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,1206,3551,4638,178.0,5.46,538,4,1.875,128.0,6.000,12.00,16.0,4080,8.4
157,1296,3211,8016,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
158,856,3260,8809,150.0,5.50,401,8,2.200,64.0,4.000,20.00,20.0,3000,6.8
159,1296,3211,8946,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
160,1131,2536,9807,202.0,6.00,367,8,1.500,16.0,3.000,21.50,16.0,2700,8.4

In [3]:
df = df.rename(columns={'cpu core': 'cpu_core', 'cpu freq': 'cpu_freq', 'internal mem': 'internal_mem'})
df

,Product_id,Price,Sale,weight,resoloution,ppi,cpu_core,cpu_freq,internal_mem,ram,RearCam,Front_Cam,battery,thickness
0,203,2357,10,135.0,5.20,424,8,1.350,16.0,3.000,13.00,8.0,2610,7.4
1,880,1749,10,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
2,40,1916,10,110.0,4.70,312,4,1.200,8.0,1.500,13.00,5.0,2000,7.6
3,99,1315,11,118.5,4.00,233,2,1.300,4.0,0.512,3.15,0.0,1400,11.0
4,880,1749,11,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,1206,3551,4638,178.0,5.46,538,4,1.875,128.0,6.000,12.00,16.0,4080,8.4
157,1296,3211,8016,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
158,856,3260,8809,150.0,5.50,401,8,2.200,64.0,4.000,20.00,20.0,3000,6.8
159,1296,3211,8946,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
160,1131,2536,9807,202.0,6.00,367,8,1.500,16.0,3.000,21.50,16.0,2700,8.4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_id    161 non-null    int64
 1   Price         161 non-null    int64
 2   Sale          161 non-null    int64
 3   weight        161 non-null    float64
 4   resoloution   161 non-null    float64
 5   ppi           161 non-null    int64
 6   cpu_core      161 non-null    int64
 7   cpu_freq      161 non-null    float64
 8   internal_mem  161 non-null    float64
 9   ram           161 non-null    float64
 10  RearCam       161 non-null    float64
 11  Front_Cam     161 non-null    float64
 12  battery       161 non-null    int64
 13  thickness     161 non-null    float64
dtypes: float64(8), int64(6)
memory usage: 17.7 KB

In [5]:
df.describe()

,Product_id,Price,Sale,weight,resoloution,ppi,cpu_core,cpu_freq,internal_mem,ram,RearCam,Front_Cam,battery,thickness
count,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000
mean,675.559006,2215.596273,621.465839,170.426087,5.209938,335.055901,4.857143,1.502832,24.501714,2.204994,10.378261,4.503106,2842.111801,8.921739
std,410.851583,768.187171,1546.618517,92.888612,1.509953,134.826659,2.444016,0.599783,28.804773,1.609831,6.181585,4.342053,1366.990838,2.192564
min,10.000000,614.000000,10.000000,66.000000,1.400000,121.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,800.000000,5.100000
25%,237.000000,1734.000000,37.000000,134.100000,4.800000,233.000000,4.000000,1.200000,8.000000,1.000000,5.000000,0.000000,2040.000000,7.600000
50%,774.000000,2258.000000,106.000000,153.000000,5.150000,294.000000,4.000000,1.400000,16.000000,2.000000,12.000000,5.000000,2800.000000,8.400000
75%,1026.000000,2744.000000,382.000000,170.000000,5.500000,428.000000,8.000000,1.875000,32.000000,3.000000,16.000000,8.000000,3240.000000,9.800000
max,1339.000000,4361.000000,9807.000000,753.000000,12.200000,806.000000,8.000000,2.700000,128.000000,6.000000,23.000000,20.000000,9500.000000,18.500000

In [6]:
df.isna().sum()

Product_id      0
Price           0
Sale            0
weight          0
resoloution     0
ppi             0
cpu_core        0
cpu_freq        0
internal_mem    0
ram             0
RearCam         0
Front_Cam       0
battery         0
thickness       0
dtype: int64

MODEL TRAINING

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [8]:
df.drop(columns=['Product_id'], inplace = True)

In [9]:
df

,Price,Sale,weight,resoloution,ppi,cpu_core,cpu_freq,internal_mem,ram,RearCam,Front_Cam,battery,thickness
0,2357,10,135.0,5.20,424,8,1.350,16.0,3.000,13.00,8.0,2610,7.4
1,1749,10,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
2,1916,10,110.0,4.70,312,4,1.200,8.0,1.500,13.00,5.0,2000,7.6
3,1315,11,118.5,4.00,233,2,1.300,4.0,0.512,3.15,0.0,1400,11.0
4,1749,11,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,3551,4638,178.0,5.46,538,4,1.875,128.0,6.000,12.00,16.0,4080,8.4
157,3211,8016,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
158,3260,8809,150.0,5.50,401,8,2.200,64.0,4.000,20.00,20.0,3000,6.8
159,3211,8946,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
160,2536,9807,202.0,6.00,367,8,1.500,16.0,3.000,21.50,16.0,2700,8.4

In [10]:
x = df.drop(columns='Price', axis = 1)
y = df['Price']

In [11]:
x_train , x_test, y_train, y_test = train_test_split(x,y,train_size=0.8, random_state=22)

In [12]:
x_train.shape

(128, 12)

In [13]:
x_test.shape

(33, 12)

In [14]:
Linear = LinearRegression()
Linear.fit(x_train, y_train)
y_pred = Linear.predict(x_test)
y_pred

array([1713.5209835 , 2394.57702595, 3117.76428113, 3193.29436157,
       2330.06280071,  419.68032677, 1620.97824438, 1384.92889977,
       2330.16323354, 2268.96875964, 2734.45017208, 2689.80804577,
       2400.59351441, 3066.89937077, 1750.45811758,  888.62940351,
       1370.55428354, 1622.11648307, 2283.07696473, 2915.73014586,
       1541.78477631, 2034.58589107, 1386.30148173,  957.58735674,
       1641.7908324 , 2177.60540359,  639.9996026 , 3055.82457577,
       3163.09755865, 2400.35917115, 2488.86877767, 3053.581576  ,
       3117.89819156])

In [15]:
pd.DataFrame({"Y Actual": y_test, "Y Prediction":np.around(y_pred,0)})

     Y Actual  Y Prediction
25       1390        1714.0
118      2054        2395.0
31       2977        3118.0
73       3116        3193.0
43       2087        2330.0
141       628         420.0
99       1511        1621.0
131      1357        1385.0
41       2087        2330.0
134      2266        2269.0
39       2392        2734.0
13       2744        2690.0
71       2276        2401.0
158      3260        3067.0
144      1921        1750.0
101       833         889.0
46       1421        1371.0
94       1511        1622.0
74       2571        2283.0
10       2438        2916.0
120      1734        1542.0
2        1916        2035.0
130      1357        1386.0
86        791         958.0
95       1810        1642.0
30       2258        2178.0
126       705         640.0
148      3055        3056.0
137      3116        3163.0
75       2276        2400.0
97       2562        2489.0
151      3055        3054.0
22       2977        3118.0

In [16]:
from sklearn.neighbors import KNeighborsRegressor

In [17]:
KNN = KNeighborsRegressor()
KNN.fit(x,y)
y_pred_KNN = KNN.predict(x_test)

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [19]:
dt = DecisionTreeRegressor()
dt.fit(x,y)
y_pred_dt =dt.predict(x_test)

In [20]:
from sklearn.ensemble import RandomForestRegressor

In [21]:
rf = RandomForestRegressor()
rf.fit(x,y)
y_pred_rf = rf.predict(x_test)

In [22]:
from sklearn.ensemble import AdaBoostRegressor

In [23]:
ad = AdaBoostRegressor()
ad.fit(x,y)
y_pred_ad = ad.predict(x_test)

EVALUATION

In [24]:
def Evaluation(x,y):
    try:
        # print("R2 score of the model is:",round(r2_score(x,y)*100,2),"%")
        # print("MAE of the model is:",mean_absolute_error(x,y))
        # print("MSE of the model is:",mean_squared_error(x,y))
        # print("RMSE of the model is:",np.sqrt(mean_squared_error(x,y)))
        return round(r2_score(x,y)*100,2), round(mean_absolute_error(x,y),2), round(mean_squared_error(x,y),2), round(np.sqrt(mean_squared_error(x,y)),2)
    except:
        print("Error in Evaluation!")

In [25]:
def ResultinDataframe(y_pred, y_pred_KNN,y_pred_dt,y_pred_rf,y_pred_ad):
    Result = pd.DataFrame({"Model":["Linear Regression","KNN","DT","RF","ADA"],
                           "R2 Score":None,"MAE":None,"MSE":None,"RMSE":None})
    
    #Impute linear regression values in dataframe
    a,b,c,d = Evaluation(y_test,y_pred)
    Result.iloc[0,1] = a
    Result.iloc[0,2] = b
    Result.iloc[0,3] = c
    Result.iloc[0,4] = d

    #Impute KNN values in dataframe
    a,b,c,d = Evaluation(y_test,y_pred_KNN)
    Result.iloc[1,1] = a
    Result.iloc[1,2] = b
    Result.iloc[1,3] = c
    Result.iloc[1,4] = d   

    #Impute DT values in dataframe
    a,b,c,d = Evaluation(y_test,y_pred_dt)
    Result.iloc[2,1] = a
    Result.iloc[2,2] = b
    Result.iloc[2,3] = c
    Result.iloc[2,4] = d

    #Impute RF values in dataframe
    a,b,c,d = Evaluation(y_test,y_pred_rf)
    Result.iloc[3,1] = a
    Result.iloc[3,2] = b
    Result.iloc[3,3] = c
    Result.iloc[3,4] = d

    #Impute ADA values in dataframe
    a,b,c,d = Evaluation(y_test,y_pred_ad)
    Result.iloc[4,1] = a
    Result.iloc[4,2] = b
    Result.iloc[4,3] = c
    Result.iloc[4,4] = d

    return Result

In [26]:
Finaldf = ResultinDataframe(y_pred, y_pred_KNN,y_pred_dt,y_pred_rf,y_pred_ad)
Finaldf

               Model R2 Score     MAE       MSE    RMSE
0  Linear Regression    93.95  145.25  33746.72   183.7
1                KNN    88.17  195.59  65967.04  256.84
2                 DT    100.0     0.0       0.0     0.0
3                 RF    99.76    27.1   1323.71   36.38
4                ADA    96.39  117.53  20098.03  141.77

CONCLUSION

In [27]:
# Decision Tree regressor is giving best accuracy. we will go with this model for prediction.

MODEL DUMP

In [28]:
import pickle
with open('model.pkl','wb') as f:
    pickle.dump(dt,f)

HYPERPARAMETER TUNNING

In [29]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [30]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import RandomizedSearchCV

# Define the KNN Regressor
knn = KNeighborsRegressor()

# Define the parameter grid for the randomized search
param_grid = {
    'n_neighbors': [3, 5, 7],
    'weights': ['uniform', 'distance'],
    'p': [1, 2],
}

# Perform randomized search with cross-validation
random_search = RandomizedSearchCV(estimator=knn, param_distributions=param_grid, n_iter=10, cv=5, random_state=42)
random_search.fit(x_train, y_train)

# Print the best parameters
print("Best parameters:", random_search.best_params_)

# Create a new KNN Regressor with the best parameters
best_knn = KNeighborsRegressor(**random_search.best_params_)

# Train the model
best_knn.fit(x_train, y_train)

# Make predictions on the training set
new_y_pred_knn = best_knn.predict(x_test)

# Evaluate the model
Evaluation(y_test, new_y_pred_knn)

Best parameters: {'weights': 'distance', 'p': 1, 'n_neighbors': 5}

(92.63, 121.8, 41103.34, 202.74)

In [31]:
#Improved KNN result
Finaldf = ResultinDataframe(y_pred, new_y_pred_knn,y_pred_dt,y_pred_rf,y_pred_ad)
Finaldf

               Model R2 Score     MAE       MSE    RMSE
0  Linear Regression    93.95  145.25  33746.72   183.7
1                KNN    92.63   121.8  41103.34  202.74
2                 DT    100.0     0.0       0.0     0.0
3                 RF    99.76    27.1   1323.71   36.38
4                ADA    96.39  117.53  20098.03  141.77

In [32]:
df

,Price,Sale,weight,resoloution,ppi,cpu_core,cpu_freq,internal_mem,ram,RearCam,Front_Cam,battery,thickness
0,2357,10,135.0,5.20,424,8,1.350,16.0,3.000,13.00,8.0,2610,7.4
1,1749,10,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
2,1916,10,110.0,4.70,312,4,1.200,8.0,1.500,13.00,5.0,2000,7.6
3,1315,11,118.5,4.00,233,2,1.300,4.0,0.512,3.15,0.0,1400,11.0
4,1749,11,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,3551,4638,178.0,5.46,538,4,1.875,128.0,6.000,12.00,16.0,4080,8.4
157,3211,8016,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
158,3260,8809,150.0,5.50,401,8,2.200,64.0,4.000,20.00,20.0,3000,6.8
159,3211,8946,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
160,2536,9807,202.0,6.00,367,8,1.500,16.0,3.000,21.50,16.0,2700,8.4

TEST WITH USER INPUTS

In [42]:
Sale = 9807
weight = 202
resoloution = 6 
ppi = 367
cpu_core = 8
cpu_freq = 1.5
internal_mem = 4
ram = 1.25
RearCam = 3.15
Front_Cam = 8
battery = 1650
thickness = 8.99

test_array = np.zeros(12,dtype=int)
test_array[0] = Sale
test_array[1] = weight
test_array[2] = resoloution
test_array[3] = ppi
test_array[4] = cpu_core
test_array[5] = cpu_freq
test_array[6] = internal_mem
test_array[7] = ram 
test_array[8] = RearCam
test_array[9] = Front_Cam
test_array[10] = battery
test_array[11] = thickness

print('Predicted price is:',dt.predict([test_array])[0])

Predicted price is: 1921.0

c:\Users\Payal Gunjal\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [43]:
x.columns

Index(['Sale', 'weight', 'resoloution', 'ppi', 'cpu_core', 'cpu_freq',
       'internal_mem', 'ram', 'RearCam', 'Front_Cam', 'battery', 'thickness'],
      dtype='object')